<div class="container">

  <div class="jumbotron text-center">
    <h1>Clothing Style Personality</h1>
    <img src="assets/images/quizzImage.png" class="myImage">
    <p class="lead">
      Wearing clothes that suit your personality will ensure that you are always comfortable and confident in how you appear.  Knowing how to adjust personal style to suit many different occasions will separate you from everyone else who simply picks up the closest pieces or what is in fashion with no regard for the finished impression.
    </p>
    <p class="lead">
      At the end of this quiz you will discover your fashion personality.  Your top personality is how you present yourself most days.
    </p>
    <div class="infoUser">
      <img ng-src="{{user.picture.data.url}}">
      <p class="name">{{user.name}}</p>
    </div>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.startQuiz()">Start Quiz</button>
    </p>
    <button type="button" class="btn btn-md btn-default" ng-click="main.share()">Share</button>
    <button type="button" class="btn btn-md btn-default" ng-click="main.inviteFriends()">Invite a Friends</button>
    <p>
      <small>© 2016, Play Quizzy</small>
    </p>
  </div>


</div>
