<div class="container">

  <div class="jumbotron text-center">
    <h1>Quiz Title</h1>
    <img src="assets/images/quizzImage.png" class="myImage">
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lorem scelerisque, semper ante nec, tempus odio. Aenean sed imperdiet lorem. Phasellus velit diam, molestie at nibh quis, molestie tincidunt dui. 
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.startQuiz()">Start Quiz</button>
      <fb:login-button show-faces="true" max-rows="1" size="large"></fb:login-button>
    </p>
    <p>
      <small>© 2016, Play Quizzy</small>
    </p>
  </div>

</div>
