html{
	background: #f8f9fb;
	font-famile:'Arial'
}
h3, h2{
	font-weight:bold;
}
.h4-subtitle{
	margin: 50px 0 20px 0;
    font-size: 20px;
}
.banner{
	background-color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #c1c1c1;
    img{
    	width: 65px;
    }
}
.facebook{
    display: inline-block;
    background-image: url(../assets/images/facebook.png);
    width: 25px;
    height: 25px;
    background-size: 100%;
    float: right;
    margin-top: 33px;
    margin-right: 30px;
}
.newsletter{
	max-width: 400px;
	margin:auto;
	margin-bottom:30px;
	p{
		font-size:15px;
	}
}
body{
	background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-color:#f3f5f6;
}
p.description{
	text-align: left;
    font-size: 18px;
}
.btn-primary{
	margin-bottom: 10px;
}
.myImage{
	max-width: 70%;
	&.result-image{
		margin-top:30px;
		margin-bottom:30px;
	}
}
.error-wrapper{
	input{
		border : 1px solid red;
	}
	button{
		border-bottom-color: red;
		border-top-color: red;
		border-right-color: red;
	}
}
.response-text {
    height: 80px;
    overflow: hidden;
}
.loader-email{
	.loader{
		max-width:30px;
	}
}
.error{
	margin-top:10px;	
	color:red;
	display:inline-block;
}
.border-response-img{
	border: 1px solid #000000;
	cursor: pointer;
}
.pading-img{
padding-top: 10px;

}

.thumbnail{
	height:inherit;
	.btn-default{
		margin-top: 10px;
    	font-size: 12px;
	}
	.btn{
		max-width: 100%;
    	overflow: hidden;
	}
	& > img, h4{
		cursor:pointer;
	}
}
.jumbotron p{
	font-weight: normal;
}
.container .jumbotron, .container-fluid .jumbotron{
	background-color: transparent;
	padding-top: 20px;
	h1, h2{
		margin-bottom: 30px;
	}
}
small{
	font-size: 70%;
}
.back-btn{
	margin-top: 30px;
}
.loader{
	max-width: 50px;
	margin: 20px 0;
}
.response-text{
		font-size: 14px !important;

}
.Quiz-icon{
	display: inline-block;
    width: 15px;
    height: 17px;
    margin-right: 5px;
    background-image: url("..//assets/images/shopping-card.png");
    background-size: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    &.icon-back {
        background-image: url("..//assets/images/back.png");

    }
      &.icon-shopping {
        background-image: url("..//assets/images/shopping-card.png");

    }
      &.icon-showMore {
        background-image: url("..//assets/images/showMore.png");
        height:10px ! important;

    }
}
.response-item p{
	font-weight: 400;
    display: inline-block;
    width: 60%;
    padding: 10px 0;
    cursor: pointer;
    &:hover, &.active{
		color: #FFFFFF;
	}
}
.response-item:first-child p{
	border: 1px solid #3498db;
	border-left: 10px solid #3498db;
	&:hover, &.active{
		background-color:#3498db;
	}
}
.response-item:nth-child(2) p{
	border: 1px solid #2ecc71;
	border-left: 10px solid #2ecc71;
	&:hover, &.active{
		background-color:#2ecc71;
	}
}
.response-item:nth-child(3) p{
	border: 1px solid #e74c3c;
	border-left: 10px solid #e74c3c;
	&:hover, &.active{
		background-color:#e74c3c;
	}
}
.response-item:nth-child(4) p{
	border: 1px solid #e67e22;
	border-left: 10px solid #e67e22;
	&:hover, &.active{
		background-color:#e67e22;
	}
}
.response-item:nth-child(5) p{
	border: 1px solid #34495e;
	border-left: 10px solid #34495e;
	&:hover, &.active{
		background-color:#34495e;
	}
}
.response-item:nth-child(6) p{
	border: 1px solid #34495e;
	border-left: 10px solid #34495e;
	&:hover, &.active{
		background-color:#34495e;
	}
}
.gender-choose{
	img{
		max-width: 200px;
	}
	.col-xs-6{
		cursor: pointer;
	}
}

.response-img{
	img{
		max-width: 200px;
		    padding-top: 12px;

	}
	.col-xs-6{
		cursor: pointer;
	}
}
.jumbotron p{
	font-size:20px;
}

@media (max-width: 767px)  and  (min-width: 487px) { 
.productImage{
		max-width: 57% !important;
	}

 }
@media  (min-width: 1199px) { 
.productImage{
		max-width: 83% !important;
	}

 }

@media  (max-width: 768px){
	.response-item p{
		width:100%;
	}
	.myImage{
		max-width: 100%;
	}
	.jumbotron p{
		font-size: 16px;
	}
	.gender-choose{
		img{
			max-width: 100%;
		}
	}
}
@media screen and (min-width: 768px){
	.jumbotron .h1, .jumbotron h1 {
	    font-size: 55px;
	}
	.container .jumbotron{
		padding:0 20px;
	}
}