<div class="container">

  <div class="jumbotron text-center" ng-if="!question.chooseGender">
    <h2>Question {{question.activeQuestion}}/{{question.totalNumber}}</h2>
    <img ng-src="{{question.image}}" class="myImage" ng-if="question.image">
    <p class="lead">
      {{question.question}}
    </p>
    <div class="row responses">
      <div class="col-xs-12 response-item" ng-repeat="(index,response) in question.responses">
        <p ng-class="{'active': index == question.activeResponse}" ng-click="question.goToNext(index)">{{response.value}}</p>
      </div>
    </div>
    <p><button type="button" class="btn btn-default back-btn" ng-click="question.goToBack()" ng-if="question.id > 0"><i class="Quiz-icon icon-back"></i>Previous</button></p>
    <p>
      <small>© 2016, Play Quizzy</small>
    </p>
  </div>
  <div class="jumbotron text-center gender-choose" ng-if="question.chooseGender">
    <h2>Select your gender</h2>
    <div class="col-xs-6" ng-click="question.selectGender('male')">
      <p>Male</p>
      <img src="assets/images/male.png">
    </div>
    <div class="col-xs-6" ng-click="question.selectGender('female')">
      <p>Female</p>
      <img src="assets/images/female.png">
    </div>
  </div>

</div>
